<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia illo ratione, eos soluta ab esse nesciunt corrupti consectetur ipsam dolorum accusantium excepturi rerum, vel id! Debitis itaque nostrum in ex!
    Doloremque ducimus quos qui voluptas maiores consequatur nulla asperiores voluptates facere, nam eum vitae reiciendis necessitatibus rerum incidunt, porro dolorum? Earum omnis, qui obcaecati voluptatum non amet dolores adipisci suscipit!
    Consequuntur ad numquam, accusantium labore iusto rerum repudiandae tempora! Porro mollitia alias animi corrupti iure architecto vel rem repellat ad quam, nisi est aspernatur accusantium libero nam a saepe nobis.
    Corporis doloribus architecto ea veritatis omnis, iure iste, magnam aliquid temporibus error inventore debitis sint asperiores culpa enim aliquam. Vel reprehenderit libero obcaecati, commodi nihil porro neque illo eos reiciendis!
    Voluptate culpa iure, ex placeat consequatur iusto dicta veritatis, dolorum perferendis quidem optio rem minus minima et tenetur ipsam similique? Earum obcaecati totam ut eligendi quis dicta veritatis molestiae sit.
    Consequatur vel a enim saepe perferendis laboriosam iure fugiat rerum tempore, eius error temporibus aspernatur ipsam quidem quibusdam in? Omnis perspiciatis soluta quis enim cupiditate, laudantium et. Earum, officiis voluptatibus!
    Necessitatibus explicabo accusantium dolor! Sint odit unde ea. Tenetur a sed expedita voluptatibus! Quaerat consequuntur accusamus dignissimos autem, magni eaque unde ut nobis adipisci repellat ullam! Quam beatae perferendis itaque!
    Magni aliquam molestias reprehenderit quibusdam porro. Laborum doloribus veritatis iste porro voluptatem placeat repellat et ipsum. Consequuntur consequatur eos enim. Quas esse pariatur ipsa, natus architecto perspiciatis nobis qui consequatur.
    Odio sequi laudantium, molestiae, quis magni pariatur officia earum necessitatibus voluptatem error hic doloribus quibusdam optio esse reprehenderit maxime libero sint eaque adipisci voluptas tenetur nemo vitae praesentium modi. Odit.
    Error distinctio officia dolorum corrupti suscipit doloremque ipsam ipsa vitae, accusamus temporibus facere similique voluptas maiores dicta voluptatem illum ipsum modi libero hic saepe totam quam cum. Eveniet, eius accusamus!
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>

</body>
</html>